<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT0OqXJzZ4ngNFy44QXrdn9-g2YrAerTM</string>
	<key>GCM_SENDER_ID</key>
	<string>222500882225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentIt.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zuhairy-rent-it-project</string>
	<key>STORAGE_BUCKET</key>
	<string>zuhairy-rent-it-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222500882225:ios:751cddd136714469431210</string>
</dict>
</plist>